@import "tailwindcss";
.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3
         focus:outline-none focus:ring-2 focus:ring-green-500 mb-4;
}

.social-btn {
  @apply w-full border border-gray-300 rounded-lg py-2
         flex items-center justify-center gap-3
         hover:bg-gray-100 transition;
}


